body {
	padding-bottom: 100px;
	font-size: 17px;
}

.separator {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0;
	clear: both;
}
.separator-10 {margin: 5px 0;}
.separator-20 {margin: 10px 0;}
.separator-30 {margin: 15px 0;}
.separator-40 {margin: 20px 0;}
.separator-50 {margin: 25px 0;}
.separator-60 {margin: 30px 0;}
.separator-70 {margin: 35px 0;}
.separator-80 {margin: 40px 0;}
.separator-90 {margin: 45px 0;}
.separator-100 {margin: 50px 0;}

table.empty .help {
    visibility: hidden;
}

h4 {
	margin-bottom: 30px;
}

.map {
	width: 100%;
	height: 400px;
}

#domain-validation-warning {
	margin-top: 7px;
	display: inline-block;
	height: auto;
}

footer {
	padding: 70px 0 50px 0;
	margin-top: 40px;
	text-align: center;
	font-size: .8em;
	border-top: solid 1px #ccc;
}
