<!doctype html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/ac-test.min.css">
</head>
<body class="container-fluid">

	<h1 id="title">GeoLocation Test</h1>

	<hr class="divider"></hr>

	<div class="row">
		<div class="col col-xs-12 col-sm-6 col-lg-6">


			<section id="mainContent"></section>

			<script type="text/x-handlebars" id="index">
				<section id="geoLocationContainer" class=""></section>
				<div class="text-center">
					<button class="btn btn-primary btn-lg btn-block" onclick="getMyLocation()" id="btnMyLocation">My location <i class="hidden fa fa-cog fa-spin fa-fw"></i></button>
					<div class="separator separator-10"></div>
					<button class="btn btn-link" onclick="resetLocationDetails()" id="btnResetLocation">Reset location</button>
				</div>
			</script>

			<script type="text/x-handlebars" id="locationInfo">
				<h4>Estimated location</h4>

				<table align="center" class="empty table table-striped">
					<tbody>
						<tr>
							<td class="field_name">IP</td>
							<td id="location_query" class="location_value text-danger">{{query}}</td>
							<td class="text-right"><button class="help btn btn-info">?</button></td>
						</tr>
						<tr>
							<td class="field_name">Country</td>
							<td id="location_country" class="location_value text-danger">{{country}}</td>
							<td class="text-right"><button class="help btn btn-info">?</button></td>
						</tr>
						<tr>
							<td class="field_name">Region</td>
							<td id="location_regionName" class="location_value text-danger">{{regionName}}</td>
							<td class="text-right"><button class="help btn btn-info">?</button></td>
						</tr>
						<tr>
							<td class="field_name">City</td>
							<td id="location_city" class="location_value text-danger">{{city}}</td>
							<td class="text-right"><button class="help btn btn-info">?</button></td>
						</tr>
						<tr>
							<td class="field_name">Time Zone</td>
							<td id="location_timezone" class="location_value text-danger">{{timezone}}</td>
							<td class="text-right"><button class="help btn btn-info">?</button></td>
						</tr>
						<tr>
							<td class="field_name">Latitude</td>
							<td id="location_lat" class="location_value text-danger">{{lat}}</td>
							<td class="text-right"><button class="help btn btn-info">?</button></td>
						</tr>
						<tr>
							<td class="field_name">Longitude</td>
							<td id="location_lon" class="location_value text-danger">{{lon}}</td>
							<td class="text-right"><button class="help btn btn-info">?</button></td>
						</tr>
					</tbody>
				</table>
			</script>

		</div><!-- /.col -->

		<hr class="divider visible-xs"></hr>

		<div class="col col-xs-12 col-sm-6 col-lg-6">

			<h4>Domain location</h4>
			<div class="form-group">
				<p>
					<label class="control-label" for="domain_url">The domain URL here</label>
					<input type="url" class="form-control input-lg" id="domain_url" placeholder="The domain URL here (don't use protocol)" value="">
					<span class="text-danger hidden" id="domain-validation-warning"></span>
				</p>
				<p>
					<button class="btn btn-primary btn-lg btn-block" type="button" id="btnFindDomainLocation" onclick="findDomainLocation()">Locate domain <i class="hidden fa fa-cog fa-spin fa-fw"></i></button>
				</p>
			</div>

			<br>

		    <div id="map" class="map hidden"></div>

		</div><!-- /.col -->

	</div><!-- /.row -->

	<footer class="text-muted">
		Geolocation test
	</footer>

	<script src="js/ac-test.min.js"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDO_8aufKzL5AbOvWizOGfzdZxAcCzL8vI"></script><!-- &callback=initMap -->

</body>
</html>
